extends index
block content
 div(id="myCarousel" class="carousel slide" data-ride="carousel")
  ol(class="carousel-indicators")
   li(data-target="#myCarousel" data-slide-to="0" class="active")
   li(data-target="#myCarousel" data-slide-to="1")
   li(data-target="#myCarousel" data-slide-to="2")
   li(data-target="#myCarousel" data-slide-to="3")
      </ol>
  div(class="carousel-inner" role="listbox")
    div(class="item active")
     img(class="first-slide" src="images/slide1.jpg" alt="First slide")
     div(class="container")
      div(class="carousel-caption")
       h3 All at sea with your data?..
    div(class="item")
     img(class="second-slide" src="images/slide1a.jpg" alt="Second slide")
     div(class="container")
      div(class="carousel-caption")
       h3 out in the cold with your Open Data plan?..
    div(class="item")
     img(class="third-slide" src="images/slide2.jpg" alt="Third slide")
     div(class="container")
      div(class="carousel-caption")
       h3 need to streamline data processing?..
    div(class="item")
     img(class="fourth-slide" src="images/slide3.jpg" alt="Fourth slide")
     div(class="container")
      div(class="carousel-caption")
       h3 and take the mystery out of data science?..
   a(class="left carousel-control" href="#myCarousel" role="button" data-slide="prev")
    span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
    span(class="sr-only") Previous
   a(class="right carousel-control" href="#myCarousel" role="button" data-slide="next")
    span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
    span(class="sr-only") Next
 div(class="page")
  h3!= message
  p We are passionate about your data.
  p From cleansing, to workflows, JSON indexers and datastores, to APIs, and integrating your systems or built web applications using your data.
  p We're here to help, to find out if we can help you give us a
   a(href="/contact/")  shout.
