.img-right{
  float: right;
  padding: 5px;
  margin: 10px;
}
.img-left{
  float: left;
  padding: 5px;
  margin: 10px;
}
.img-caption{
  margin: 2px 0 2px 0;
  text-align: center;
  font-style: italic;
}
